/* Example CSS for TrackPreviewButton */
.trackpreviewbutton {
	margin: 10px;
}

.previewbutton {
	background-color: #1db954; /* Spotify Green */
	color: white;
	border: none;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.previewbutton:hover {
	background-color: #1ed760; /* Slightly lighter green on hover */
}

.previewbutton:disabled {
	background-color: #b3b3b3; /* Disabled state */
	cursor: not-allowed;
}
