h1 {
	background-color: #3c67d0;
	margin: 0;
	text-align: center;
	padding: 5px;
	color: #f7cbe6;
	font-family: "Berkshire Swash", serif;
	font-size: 3rem;
	letter-spacing: 0.05rem;
	justify-content: center;
}

.mm {
	color: #969cf3;
}

.appPlaylist {
	display: flex;
	flex-direction: row;
	/* width: 100%; */
	margin: 20px 10px 0 140px;
}

/* Sizing for different screen sizes */
@media (min-width: 320px) and (max-width: 1024px) {
	.appPlaylist {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 0px;
	}
}

@media (min-width: 2560px) {
	h1 {
		font-size: 8rem;
	}

	.appPlaylist {
		margin: 20px 0px 0px 110px;
	}
}
