.searchresults {
	width: 35%;
	height: 450px;
	overflow-y: scroll;
	margin: 2rem;
	padding: 0.88rem;
	background-color: #416ad3;
	box-shadow: 0 4px 2px 2px #3c67d0;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.searchresults h2 {
	font-family: "Aladin", serif;
	color: #f7cbe6;
	font-size: 4.5rem;
	margin: 0;
	letter-spacing: 0.2rem;
	text-shadow: #fc0 1px 0 3px;
	border-bottom: 2px solid #969cf3;
	/* text-align: center; */
}

@media (min-width: 320px) and (max-width: 374px) {
	.searchresults {
		width: 72%;
	}

	.searchresults h2 {
		font-size: 3rem;
	}
}

@media (min-width: 375px) and (max-width: 424px) {
	.searchresults {
		width: 76%;
	}

	.searchresults h2 {
		font-size: 3.5rem;
	}
}

@media (min-width: 425px) and (max-width: 767px) {
	.searchresults {
		width: 79%;
	}

	.searchresults h2 {
		font-size: 3.5rem;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.searchresults {
		width: 88%;
	}

	.searchresults h2 {
		font-size: 4.5rem;
	}
}

@media (min-width: 1024px) and (max-width: 1039px) {
	.searchresults {
		width: 91%;
	}

	.searchresults h2 {
		font-size: 4.5rem;
	}
}

@media (min-width: 2560px) {
	.searchresults {
		width: 100%;
		height: 1400px;
	}

	.searchresults h2 {
		font-size: 9rem;
	}
}
